
# A fast, small, safe, gradually typed embeddable scripting language derived from Lua
#
# https://github.com/luau-lang/luau
# https://luau.org/

# Project place file
/2025 coding.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock

# Code coverage
coverage.out

# Profiling
profile.out
profile.svg

# Time trace
trace.json